[settings]
lockfile = true # DO NOT FORGET TO `touch mise.lock` if mise.lock does not exist!


[tools]
node = 'lts'

#--- Format
# Opinionated Code Formatter.
'npm:prettier' = 'latest'

#--- Lint
# Static checker for GitHub Actions workflow files.
actionlint = 'latest'
# A tool for identifying and reporting on patterns found in ECMAScript/JavaScript code.
'npm:eslint' = 'latest'

#--- Test
# Delightful JavaScript Testing.
'npm:jest' = 'latest'

#--- Release
# A highly customizable Changelog Generator that follows Conventional Commit specifications.
git-cliff = 'latest'
# GitHub's official command line tool.
gh = 'latest'
# A lightweight and flexible command-line JSON processor.
jq = 'latest'


[tasks.'changelog:skip-commit']
description = 'Add commit hash to .cliffignore to exclude from CHANGELOG'
usage = 'arg "<commit>" help="Git revision (e.g. HEAD or a1b2c4d)"'
run = 'git rev-parse --verify "${usage_commit}" >> .cliffignore'

[tasks.fmt]
description = 'Format all files'
depends = ['fmt:*']

[tasks.lint]
description = 'Run all linters'
depends = ['lint:*']

[tasks.test]
description = 'Run all tests'
depends = ['test:*']

[tasks.default]
description = 'Run all linters and tests'
depends = ['lint', 'test']

[tasks.ci]
description = 'Run all CI tasks'
depends = ['fmt', 'lint', 'test']
run = '! git status --porcelain | tee /dev/stderr | grep -q .' # Is working tree clean after fmt?

[tasks.'fmt:js']
description = 'Format JavaScript code'
run = 'prettier --write "**/*.js"'

[tasks.'fmt:xml']
description = 'Format XML files'
run = 'find contents -type f \( -name "*.xml" -o -name "*.ui" \) -print0 | xargs -0 -I{} xmllint --format {} --output {}'

[tasks.'lint:workflows']
description = 'Lint GitHub Action workflows'
run = 'actionlint'

[tasks.'lint:js']
description = 'Lint JavaScript files'
run = 'eslint "**/*.js"'

[tasks.'lint:xml']
description = 'Lint XML and UI files'
run = 'find contents -type f \( -name "*.xml" -o -name "*.ui" \) -print0 | xargs -0 xmllint --noout'

[tasks.'test:js']
description = 'Run JavaScript tests'
wait_for = 'lint:*'                  # Avoid interleaved output with linters.
run = 'jest'

[tasks.build]
description = 'Build the KWin script'
depends = ['cachedir']
run = 'zip -r - metadata.json contents >.cache/kwin-last-used-desktops.kwinscript'

[tasks.install]
description = 'Install the KWin script'
depends = ['build']
run = '''
#!/bin/bash -eux
kpackagetool6 --remove kwin-last-used-desktops --type KWin/Script 2>/dev/null || true
kpackagetool6 --install .cache/kwin-last-used-desktops.kwinscript --type KWin/Script
kwriteconfig6 --file kwinrc --group Plugins --key kwin-last-used-desktopsEnabled false
qdbus org.kde.KWin /KWin reconfigure
sleep 1
kwriteconfig6 --file kwinrc --group Plugins --key kwin-last-used-desktopsEnabled true
qdbus org.kde.KWin /KWin reconfigure
'''

[tasks.cachedir]
hide = true
run = 'mkdir -p .cache'
