name: Test

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# Cancel testing of a previous commit for the same branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6

      - name: Install xmllint
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: libxml2-utils

      - uses: jdx/mise-action@v3
      - run: git reset --hard # Work around https://github.com/jdx/mise/discussions/8270.

      - run: mise run ci
